<div class="col-md-6">
    <form method="POST" action="/admin/edit-product/{{product._id}}" enctype="multipart/form-data">
        <label for="name">Product Name</label>
        <input type="text" name="Name" value="{{product.Name}}" class="form-control">
        <label for="price">Price</label>
        <input type="number" name="Price" value="{{product.Price}}" class="form-control">
        <label for="name">Description</label>
        <input type="text" name="Description" value="{{product.Description}}" class="form-control"> <br>

        <label for="image">Product Image</label>
        <img id="imgView" src="/product-images/{{product._id}}.jpg" style="width: 100px;height:auto;" alt="">
        <input onchange="imgChange(event)" type="file" name="image" class="form-control"><br>
        <button class="btn btn-success" type="submit">SUBMIT</button>

    </form>
</div>


<script>
  function imgChange(event){
      document.getElementById('imgView').src=URL.createObjectURL(event.target.files[0])
  }
</script>