<section>
  <div class="container">
      <div class="row">
          <a class="btn btn-primary ml-auto" href="admin/add-product">ADD Products</a>
      </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Description</th>
          <th scope="col">image</th>
        </tr>
      </thead>
      <tbody>
        {{#each products}}
          <tr>
            <th scope="row">1</th>
            <td>{{this.Name}}</td>
            <td>{{this.Price}}</td>
            <td>{{this.Description}}</td>
            <td><img style="width: 50p;height: 50px;" src="/product-images/{{this._id}}.jpg" alt=""></td>
            <td>
              <a class="btn btn-primary" href="admin/edit-product/{{this._id}}">Edit</a>

              <a class="btn btn-danger" onclick="return confirm('are you want to delete {{this.Name}}')" href="admin/delete-product/{{this._id}}">Delete</a>

            </td>
          </tr>
        {{/each}}

      </tbody>
    </table>
  </div>
</section>