<script>
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.6.0.js"></script>

</script>
<section>
  <div class="container">
    <div class="row">
      {{#each products}}
      <div class="col-md-3">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="/product-images/{{this._id}}.jpg" alt="Card image cap" />
          <div class="card-body">
            <h5 class="card-title">{{this.Name}}</h5>
            <p class="card-text">
            <h2>{{this.Price}}</h2>
            <p>{{this.Description}}</p>
            <a href="/add-to-cart/{{this._id}}" class="btn btn-primary">Add to cart</a>
            {{!-- <button class="btn btn-primary" onclick="addtoCart('{{this._id}}')">Add to Cart</button> --}}
          </div>
        </div>
      </div>
      {{/each}}
    </div>

  </div>

</section>
<script>
  
</script>